body {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   background-color: #ffdef0;
   color: #3c194c;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

h1, h2, h3, h4 {
   margin: 0px;
   padding: 0px;
}

h1 {
   font-family: Verdana, Arial, sans-serif;
   font-size: 120%;
   color: #3c194c;
}

h2 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 120%;
   color: #3c194c;
}

h3 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 110%;
   color: white;
}

h4 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 100%;
   color: #3c194c;
}

footer {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   background-color: #3c194c;
   color: white;
   padding: 5px;
   border-top: 3px solid #ffdef0;
   border-bottom: 3px solid #ffdef0;
}

main {
   padding: 5px;
   border-top: 3px solid #ffdef0;
   float: left;
   width: 55%;
   height: 100%;
}

main table {
   padding: 2px;
}

main td {
   padding: 2px;
}

header {
   padding: 5px;
   border-bottom: 3px solid #ffdef0;
   height: 40px;
   width: 100%;
}

.navigation {
   padding: 5px;
   border-bottom: 1px solid #ffdef0;
   border-right: 1px solid #ffdef0;
   border-top: 1px solid #ffdef0;
   border-left: 5px solid #ffdef0;
   color: white;
   background-color: #72d3ee;
   width: 20%;
}

footer {
 clear: both;
 text-align: center;
 width: 100%;
}

a, a:link {
 color: teal;
}

a:active {
 color: #3c194c;
}

nav a, nav a:link {
 color: teal;
 text-decoration: none;
}

nav a:hover {
 color: #493787;
}

nav a:active {
 color: #3c194c;
}

input {
 border: 2px solid #3c194c;
 background-color: white;
 color: #3c194c;
 border-radius: 5px;
}

input[type=submit] {
 font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
}

input[type=placeholder] {
 font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
}

textarea {
 border-color: #3c194c;
 background-color: white;
}

textarea:invalid {
 border-color: red;
 background-color: white;
 box-shadow: 0 0 5px red;
}

input:required:invalid {
 border-color: red;
 background-color: white;
}

input:required:invalid:focus {
 border-color: red;
 background-color: white;
 box-shadow: 0 0 5px red;
}

input:required:valid {
 border-color: #3c194c;
 background-color: white;
}

input:focus {
 outline: none;
 border-color: #72d3ee;
 background-color: white;
 box-shadow: 0 0 5px #72d3ee;
}

input:focus:valid {
 border-color: #3c194c;
 background-color: white;
 outline: none;
 box-shadow: 0 0 5px #3c194c;
}